[submodule "lib/XYZgeomag"]
	path = lib/XYZgeomag
	url = https://github.com/nhz2/XYZgeomag
[submodule "lib/mavlink/c_library_v2"]
	path = lib/mavlink/c_library_v2
	url = https://github.com/mavlink/c_library_v2.git
[submodule "lib/simpleini"]
	path = lib/simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "lib/Eigen"]
	path = lib/Eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
